$BlueGrey-900: #263238;
$BlueGrey-800: #37474F;
$BlueGrey-700: #455A64;
$BlueGrey-600: #546E7A;
$BlueGrey-500: #607D8B;
$BlueGrey-400: #78909C;
$BlueGrey-300: #90A4AE;
$BlueGrey-200: #B0BEC5;
$BlueGrey-100: #CFD8DC;
$White: #ffffff;
$WhiteGray: #eeeeee;
$DarkGray: #666;

$small:  "only screen and (max-width:640px)";
$middle: "only screen and (min-width:641px) and (max-width:959px)";
$large:  "only screen and (min-width:960px)";