.Footer {
  padding: 20px;
  background-color: $BlueGrey-800;
  overflow: hidden;
  color: $White;

  a {
    color: $White;
  }

  &__Logo {
    float: left;
  }
  &__List {
    float: right;
      li{
      display: inline-block;
      padding-left: 20px;
    }
  }
}