.header {
  background-color: $BlueGrey-800;
  // position: fixed;
  width: 100%;
  z-index: 9999;

  h1,p {
    display: inline-block;
    padding-left: 20px;
    margin: 20px 0;
    color: #fff;
  }
}