.Section {
  background-color: $WhiteGray;
  padding: 100px 0;

  &:nth-child(even){
    background-color: $White;
  }

  &__Inner {
    margin: 0 auto;
    width: 1000px;
  }
}

@media #{$small} {
  .Section {

    &__Inner {
      width: 100%;
    }
  }
}

@media #{middle} {
    //641px〜959pxまで
}
@media #{large} {
    //960px以上
}