.tab-selector {
    padding: 0px;
    list-style: none;
    z-index: 1;
    position: relative;


    li  {
        padding: 10px;
        border-radius: 5px 5px 0px 0px;
        text-align: center;
        width : calc(100% / 3) ;
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;

        a {
            text-decoration: none;
        }
    }
}


// .tab-selector li.selected {
//     border-bottom: solid 1px transparent;
// }

.tab-container {
    padding: 0px;
    list-style: none;
    margin-top: -1px;
    position: relative;
}

.tab-container li {
    padding: 10px;
    text-align: left;
    display: inline-block;
    display: none;
}

.tab-container li.selected {
    display: block;
}

.selector1, #container1 {
    background-color: $BlueGrey-200;
}

.selector2, #container2 {
    background-color: $BlueGrey-300;
}

.selector3, #container3 {
    background-color: $BlueGrey-300;
}